@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: radial-gradient(circle at top left, #0ff, #00f, #000);
    overflow: hidden;
    font-family: 'Share Tech Mono', monospace;
    padding-top: 60px;
    color: #0ff;
}

.page-container {
    text-align: center;
    width: 90%;
    max-width: 600px;
}

.neon-text {
    font-family: 'Orbitron', sans-serif;
    font-size: 3rem;
    margin-bottom: 10px;
    color: #0ff;
    text-shadow: 0 0 5px #0ff, 0 0 10px #0ff, 0 0 20px #0ff, 0 0 40px #0ff;
    animation: flicker 1.5s infinite;
}

@keyframes flicker {
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% { opacity: 1; }
    20%, 22%, 24%, 55% { opacity: 0.4; }
}

.sub-text {
    font-size: 1.2rem;
    margin-bottom: 40px;
    color: #0ff;
    text-shadow: 0 0 5px #0ff, 0 0 10px #0ff;
}

.container {
    background: rgba(0, 0, 0, 0.85);
    padding: 60px 30px 50px 30px;
    border-radius: 20px;
    box-shadow: 0 0 50px #0ff, 0 0 100px #0ff inset;
}

#qr-input {
    width: 80%;
    padding: 18px;
    border-radius: 12px;
    border: none;
    outline: none;
    font-size: 1.1rem;
    margin-bottom: 25px;
    text-align: center;
    box-shadow: 0 0 12px #0ff;
    background: rgba(0,0,0,0.5);
    color: #fff;
}

#generate-btn {
    padding: 18px 35px;
    font-size: 1.1rem;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    background: linear-gradient(45deg, #0ff, #00f);
    color: #fff;
    box-shadow: 0 0 22px #0ff, 0 0 40px #00f inset;
    transition: 0.3s;
}

#generate-btn:hover {
    transform: scale(1.1);
    box-shadow: 0 0 50px #0ff, 0 0 60px #00f inset;
}

#qr-output {
    margin-top: 35px;
    padding: 25px;
    background: #000;
    border-radius: 20px;
    box-shadow: 0 0 50px #0ff inset;
}
